<nav class="w-full flex items-center justify-center gap-x-1" aria-label="Pagination">
  <% if @prospects.prev_page %>
    <%= link_to 'Previous', dashboard_prospects_path(page: @prospects.prev_page), class: "min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg border border-transparent text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100" %>
  <% else %>
    <button class="min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg border border-transparent text-gray-800 disabled:opacity-50 disabled:pointer-events-none" aria-label="Previous" disabled>
      <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m15 18-6-6 6-6"></path>
      </svg>
    </button>
  <% end %>
  <div class="flex items-center gap-x-1">
    <% (1..@prospects.total_pages).each do |page| %>
      <%= link_to page, dashboard_prospects_path(page: page, per_page: params[:per_page]), class: "min-h-9.5 min-w-9.5 flex justify-center items-center border border-transparent text-gray-800 hover:bg-gray-100 py-2 px-3 text-sm rounded-lg focus:outline-hidden focus:bg-gray-100 #{'bg-gray-100' if page == @prospects.current_page}" %>
    <% end %>
  </div>
  <% if @prospects.next_page %>
    <%= link_to 'Next', dashboard_prospects_path(page: @prospects.next_page), class: "min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg border border-transparent text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100" %>
  <% else %>
    <button class="min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg border border-transparent text-gray-800 disabled:opacity-50 disabled:pointer-events-none" aria-label="Next" disabled>
      <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </button>
  <% end %>
</nav>
